*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.png
*.jpeg
*.jpg
vbahelp/settings.py
vbahelp/config.py
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*__pycache__*
*.pyc
__init__.py
/migrations
.idea/


