{% extends "locate/base.html" %}

{% block title %}
 <title>Question</title>
{% endblock %}

{% block static-css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'locate/css/studentquery.css' %}" />
{% endblock %}

{% block left-nav-content %}
    <ul class="side-bar-ul">
        <li><a href="/locate/gethelp">Send Location</a></li>
        <li class="active-page-tab"><a href="/locate/askquestion">Submit Question</a></li>
{% endblock %}

{% block main-content %}
    <div class="page-title">Student Question goes here</div>
{% endblock %}

{% block footer-content %}
    <div id="queue">There are {{ queue_count }} students in line.</div>
{% endblock %}

{% block static-js %}

{% endblock %}